@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing:content-box;
  margin: 0;
  padding: 0;
}

.nav_links li a, button {
  font-family: "Montesterrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #00390F;
  
}

header {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 6px;
  padding-bottom: 10px;
}

.logo {
  height: 46.8px;
  width: 162px;
  cursor: pointer;
}

nav {
  padding-left: 20px;
  padding-top: 8px;
  list-style: none;
  margin-right: auto;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

button {
  width: 90px;
  height: 35px;
  background-color: white;;
  border: none;
  cursor: pointer;
}

button {
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #4CAF50;
}

#cta {
  padding-top: 8px;
}

#cta1 {
  padding-top: 8px;
  padding-left: 10px;
}

.body {
  max-width:max-content;
  margin: 0 auto;
}

.full_image {
  max-width: 100%;
  max-height: 100%;
  display: block; 
  padding-bottom: 50px;
}

.full_image img {
  width: 100%;
  height: 100%
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content, .content1 {
  float: left;
  width: 29.33%;
  margin: 1%;
  padding: 1%;
}

.content h1, .content1 h1 {
  color: #00390F;
  margin: 20px 0px;
  text-align: center;
  font-family: "Montesterrat", sans-serif;
}

.content p, .content1 p {
  color: #00390F;
  margin: 20px 50px;
  text-align: center;
  font-family: "Montesterrat", sans-serif;
  font-size: 14px;
}

.content1 {
 padding-bottom: 60px;
}

.gallery { 
  width: 50%;
  float: left;
}

#content2 {
  box-sizing:border-box;
  display: inline block; 
  width: 100%;
  height: auto;
  float: left;
  padding-bottom: 100px;
}
